@{
    ViewData["Title"] = "Francisco Navarro";
}
<div class="text-center">
    <h1 class="display-4">Ejercicio 3</h1>
</div>
<br>
<br>
<p>
    Cadena "@ViewBag.Cadena": <br>
    Palabra con más vocales "@ViewBag.MasVocales" con @ViewBag.MasVocalesNum vocales. <br>
    Plabra con menos vocales "@ViewBag.MenosVocales" con @ViewBag.MenosVocalesNum vocales. <br><br>
</p>
<form action="/Ejercicio3">
    <input type="submit" value="Volver">
</form>
